* {
  box-sizing: border-box;
}

.header {
  text-align: center; /* Centers the header's text */
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  width: 100%;
  border-bottom: 4px solid #fdb347;
}

body {
  background-color: #f5f6f7;
  margin: 0; /* Removes the margin of the body element */
  font-family: sans-serif;
}

.gallery img { /*Targets the img elements INSIDE the gallery container */
  width: 100%;
  max-width: 350px; 
  height: 300px;
  object-fit: cover; /*This will tell the image to fill the img container while maintaining aspect ratio, resulting in cropping to fit. */
  border-radius: 10px; /*Roundes the borders of the images*/
}

.gallery::after { /*Creates an element that is the last child of the selected element. You can use it to add an empty element after the last image. */
  content: ""; /*Sets an empty element as the last image*/
  width: 350px;
}

.gallery { /*Targets the whole container*/
  display: flex; /*Sets the container as a flexbox */
  flex-direction: row; /*Sets the direction of the main axis of the flexbox  */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 10px; /*Gives separation from the gallery container to the header*/
  max-width: 1400px;
  margin: 0 auto;
  gap: 16px; /* Gives separation between the images inside the container */ 
}